<h1>Stringplay!</h1>
<p>Enter a word, press a button, and *bam* it will be reversed!  Like magic!</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[word]" value="Enter a word" id="word" />
<br />
<input type="submit" value="abracadabra">
</form>


